body {
    font-family: Arial, sans-serif;<!--字体   -->
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

.calculator {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 25px;
    max-width: 300px;
    margin: auto;
}

.calculator label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}
.calculator input[type="text"] {
    width: 93.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.calculator button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #4cae4c;
}